body {
  background: url(../images/about-section.png) no-repeat;


 }

 .mini-output {
   display : none;
 }

 .mobile-zoom {
   display : none;
 }


#map {
  margin-bottom: 10vh;
  height:80vh;
  border-radius : 10px;
  border-color  : #95a5a6;
  border-width  : 5px;
  border-style  : solid;
  border-top    : none;
  border-top-right-radius: 0;
}

.ui-control {
background:#fff;
position:absolute;
top:10px;
right:10px;
padding:10px;
z-index:100;
border-radius:3px;
}


.zoom-box img {
  position : fixed;
  bottom : 0;
  height : 550px;
}

#tomnod-container {
  z-index : 100;
}

#tomnod-img {
  z-index : -100;
  bottom  : 200px;
  height  : 350px;
}

@media only screen and (max-width : 767px) {
    .zoom-box {
      display : none;
    }
    .ui-control {
      display : none;
    }
    .mini-output {
      display : block;
      height : 5vh;
    }
    .mobile-zoom {
      display       : block;
      height        : 45vh;
      border-radius : 10px;
      border-color  : #95a5a6;
      border-width  : 5px;
      border-style  : solid;
      text-align    : center;
    }
    .mobile-zoom img {
      max-width:100%;
      max-height:100%;
      overflow  : hidden;

    }

    .glyph-left {

      margin-top: 30%;
      padding-left : 5%;
    }

    .glyph-right {

      margin-top: 30%;
      padding-right : 5%;
    }

    .glyphicon {
      font-size : 45px;
    }

    #map{
      margin-top    : 10px;
      height        : 40vh;
      margin-bottom : 10px;
      border        : 5px solid #95a5a6;
      border-radius : 10px;
    }

    }

    @media only screen and (max-width : 400px){

      .glyph-right {
        display : none;
      }
      .glyph-left {
        display : none;
      }

    }
